- if shop_account_signed_in?
  .nav-left-sidebar.sidebar-dark
    .menu-list
      %nav.navbar.navbar-expand-lg.navbar-light
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.flex-column
            %li.nav-divider
              Menu
            %li.nav-item
              %a.nav-link.active{"aria-controls" => "submenu-1", "aria-expanded" => "false", "data-target" => "#submenu-1", "data-toggle" => "collapse", :href => "#"}
                %i.fa.fa-fw.fa-user-circle>
                Shop information
                %span.badge.badge-success 6
              #submenu-1.collapse.submenu{:style => ""}
                %ul.nav.flex-column
                  %li.nav-item
                    %a.nav-link{:href => edit_shop_account_registration_path} Change information
            %li.nav-item
              %a.nav-link.active{"aria-controls" => "submenu-1-2", "aria-expanded" => "false", "data-target" => "#submenu-1-2", "data-toggle" => "collapse", :href => "#"}
                %i.fa.fa-fw.fa-product-hunt>
                Commercial
                %span.badge.badge-success 6
              #submenu-1-2.collapse.submenu{:style => ""}
                %ul.nav.flex-column
                  %li.nav-item
                    %a.nav-link{:href => shop_account_categories_path} Categories
                  %li.nav-item
                    %a.nav-link{:href => shop_account_products_path} Products
