- @categories.each do |category|
  - unless category.products.blank?
    .category
      %h3= category.name
      .row
        - category.products.each do |product|
          .col-lg-4.col-md-4.mb-12
            =render 'shared/cart_form', product: product
