%h1 Cart Detail
%table.table
  %thead.thead-dark
    %tr
      %th Product
      %th Image
      %th Price
      %th Quantity
      %th Total
  %tbody
    -unless @carts.blank?
      - @carts.each do |cart|
        %tr
          %td=cart['name']
          %td=image_tag cart['image'], class: "image-thumb"
          %td=cart['price']
          %td=cart['number']
          %td=cart['total']
