%h1 Editing Category
= render 'form', {category: @category, titlebutton: "Update"}
= link_to 'Show', @category, class: "btn btn-warning"
= link_to 'Back', shop_account_categories_path, class: "btn btn-info"
