<h1>Editing Category</h1>

<%= render 'form', {category: @category, titlebutton: "Update"} %>

<%= link_to 'Show', @category, class: "btn btn-info" %> |
<%= link_to 'Back', categories_path, class: "btn btn-info" %>
