.container.container-content
  .row
    .col-lg-3
      .list-group
        =link_to('Categories', "/", html_options = { class: "list-group-item"})
        -unless @categories.blank?
          - @categories.each do |category|
            =link_to(category.name, category_path(category), html_options = { class: "list-group-item"})
    .col-lg-9
      = render 'customer/search_form'
      = render 'customer/flash'
      = yield



