= form_tag(search_path, method: :get) do
  .input-group.md-form.form-sm.form-2.pl-0
    = text_field_tag(:product_name,"" ,class: "form-control my-0 py-1 red-border", placeholder: "Searching...")
    .input-group-append
      = submit_tag("Search", name: nil, class: "input-group-text red lighten-3 px-2 py-0")
