<!DOCTYPE html>
<html>
 <%= render "shared/head_shop_admin" %>
  <body>
  <div class="dashboard-main-wrapper">
    <%= render "shared/top_nav_shop_admin" %>
    <%= render "shared/left_nav_shop_admin" %>

    <% if shop_account_signed_in? %>
      <div class="dashboard-wrapper">
    <% else %>
      <div class="container-fluid">
    <% end %>
        <%= render "shared/main_content" %>
      </div>
  </div>
  </body>
</html>
